<div>
    <p>
        Hi <%= user.name %>!
    </p>
    <br>
    <br>
    <p>
        click on below link to reset your password
    </p>
    <p>
        <a href="http://localhost:8000/users/create-password %>">http://localhost:8000/users/create-password %></a>
    </p>
    <br>
    <br>
    <p>
        Thanks!
    </p>
</div>